*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
h1{
    font-family: "Playfair Display";

}
.headpart{
    width: 100%;
    background-image:url("images/header.jpg") ;
    height: 100vh;
    
}

.headpart .top-left img{
    width: 450px;
    height: auto;
    padding: 20px;
}
.headpart .centerpart{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: 0 auto ; */
    color: aliceblue;
    
}
.centerpart .mainheading{
    width: 60%;

}
.centerpart .mainheading h1{
    font-size: 80px;
    text-align: center;
    font-weight: 5;
}.centerpart .sub p{
    font-size: 18px;
    text-align: center;
    margin-top: 20px;
    display: block;
}
.centerpart .tag {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.centerpart .tag a{
    text-decoration: none;
    color: white;
    background: transparent;
    border: white 1px solid;
    padding: 15px 150px;
}
.centerpart .tag a:hover{
    background-color:white ;
    color: black;
    text-decoration: underline;
}
.middle{
    padding: 30px;
   
}
.middle .programs h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display";
    font-size: 80px;
    font-weight: 1;

}
.middle .line{
    background-color: brown;
    height: 3px;
    width: 100px;
    margin: 30px auto 40px;
}
.middle .boxs{
 display: flex;
    align-content: flex-start;
    margin-bottom: 100px;
}
.middle .sps {
    padding: 40px;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content:center; */
    flex: 1;
    height: 750px;
    border: 1px solid;
    border-color: rgb(190, 190, 190);
    margin: 40px 10px 50px 50px;
    /* background-color: aqua; */
    
}
.middle .crossroads{
    display: flex;
    padding: 40px;
    flex-direction: column;
    flex: 1;
    height: 900px;
    border: 1px solid;
    border-color: rgb(191, 191, 191);
    margin: 40px 50px 50px 10px;
    /* background-color: bisque; */
}
.boxs .sps h2{
    text-align: center;
    /* text-align:start; */
    font-family: "Playfair Display";
    font-size: 50px;
    font-weight:50;
    margin: 0;

}
.boxs .sps .pera p{
    /* text-align: center; */
    line-height: 2;
    font-size: 19px;
    text-align: start;
    margin-top: 20px;
    color: rgb(150, 150, 150);
    display: block;
    margin-bottom: 40px;
}
.boxs .sps .pera2 p{
    /* text-align: center; */
    font-size: 19px;
    text-align: start;
    color: rgb(150, 150, 150);
    display: block;
    line-height: 2;
    margin-bottom: 40px;
}
.boxs .sps .tag{
    margin-top: 15px;
    width: 100%;
    text-align: center;
    
}
.boxs .sps .tag a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    background: transparent;
    border: rgb(0, 0, 0) 1px solid;
    padding: 15px 40px;
}
.boxs .sps .tag a:hover{
    background-color: rgb(10, 43, 22);
    color: white;
    text-decoration: underline;
}
.boxs .crossroads h2{
    text-align: center;
    font-size: 50px;
    font-family:"Playfair Display" ;
    font-weight: 10;
}
.boxs .crossroads .pera{
    margin-top: 15px;
    text-align: start;
    line-height: 2;
    font-size: 18px;
    color: rgb(150, 150, 150);
    margin-bottom: 40px;
}
.boxs .crossroads .pera2{
    text-align: start;
    line-height: 2;
    font-size: 18px;
    color: rgb(151, 151, 151);
    margin-bottom: 40px;
}
.boxs .crossroads .pera3{
    text-align: start;
    line-height: 2;
    font-size: 18px;
    color: rgb(150, 150, 150);
    margin-bottom: 40px;
}
.boxs .crossroads .tag{
    margin-top: 15px;
    width:100%;
    text-align: center;
}
.crossroads .tag a{
    background-color: transparent;
    color: black;
    border: black 1px solid;
    padding: 15px 40px;
}
.crossroads .tag a:hover{
    background-color: rgb(1, 32, 1);
    color: white;
    text-decoration: underline;
}
.middle .about h2{
    /* margin-top: 80px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Playfair Display";
    font-size: 70px;
    font-weight: 1;
}
.middle .line2{
    background-color: brown;
    height: 3px;
    width: 100px;
    margin: 30px auto 40px;
}
.middle .set1{
    display: flex;
    padding: 0 10px;
    flex-direction: row;
    flex: 1;
    height: 300px;
    margin-bottom: 10px;
}
.middle .setpera{
    flex: 1;
    display: flex;
    font-size: 17px;  
}
footer{
    width: 100%;
    height: 600px;
    background-color: #002633;
    display: flex;
    justify-content: center;
}

.footerfull{
    width: 80%;
    height: 500px;
    margin-top: 54px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap
}
.Contact{
    width: 100%;
    height: 10x;
}
.Contact h1 {
    text-align: center;
    color: #fff;
    font-weight: 100;
}
.para {
    width: 100%;
    height: 50px;
}
.footerfull .para p {
    text-align: center;
    color: #fff;
    font-weight: 1;
    margin-top: -18px;
    font-size: 13px;
}
.footerbuton-div {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.last {
    width: 100%;
    height: 10px;
    
}
.formsec1 {
    width: 40%;
    height: 250px;
    /* display: flex; */
    /* justify-content: space-between; */
    
}
.form-part2{
    width: 50%;
    margin-left: 10px;
    height: 230px;
}
input[type=text],
input[type=email] {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: thick;
    

    box-sizing: border-box;
}
.formedits {
    border-radius: 5px;
    margin-top: -32px;
    padding: 20px;
}
textarea {

    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    display: inline-block;
    border: thick;
    height: 134px;
    box-sizing: border-box;
}
.lab{
    margin: 10px;
}
.footerbutton {
    width: 100%;
    height: 44px;
    margin-top: 10px;
    transition-duration: 0.4s;
    background-color: #002633;
    color: #fff;

    border-width: 2px;
    border: 2px solid #fff;
}
.footerbutton:hover {
    background-color: #28a745;
    color: #fff;
    border: 2px solid #fff;
}
.last h5 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 1;
    color: #fff;
    margin-top: -3px;

}